<div class='sm:flex'>
  <%= render partial: 'filter', locals: { 'companies': @companies, 'categories': @categories } %>
  <%= render partial: 'products', locals: { 'products': @products, 'pagy': @pagy } %>
</div>
